<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<header th:fragment ="headerFragment">

<style>
  .borderModify{
    width: 100px;
    border-right:1px gray solid;
    text-align: center;
  }
  .borderModify:first-child{
    border-left:1px gray solid;
  }
  html{
  	font-size: 16px;
  }
  
</style>
	<div class="jumbotron text-center" style="margin-bottom:0">
	  <h1 th:text="|${bname} 게시판 아님 쇼핑몰|"></h1>
	  <p>Resize this responsive page to see the effect!</p> 
	</div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">songjiwoong1020</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mr-auto" id="collapsibleNavbar">
          <ul class="navbar-nav">
          	<th:block th:each="list : ${navbarLists}">
	            <li th:if="${list.size()} == 1" class="nav-item borderModify">
	              <a th:text="${list[0].tab_name}" class="nav-link" th:href="@{/{type}/{param}(type=${list[0].tab_type}, param=${list[0].tab_param})}"></a>
	            </li>
	            <li th:if="${list.size()} >= 2" class="nav-item dropdown borderModify">
	              <a th:text="${list[0].tab_name}" class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"></a>
                    <div class="dropdown-menu">
				        <a th:each="inList : ${list}" th:text="${inList.tab_mName}" class="dropdown-item" th:href="@{/{type}/{param}(type=${inList.tab_type}, param=${inList.tab_param})}"></a>
			        </div>
	            </li>
            </th:block>
          </ul>
        </div>
        <ul sec:authorize="isAuthenticated() == false" class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" href="/member/login"><b>로그인</b></a>
          </li>
          <li>
            <a class="nav-link" href="/member/signup"><b>회원가입</b></a>
          </li>
        </ul>
        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
          <li>
            <a class="nav-link" href="#"><b>마이페이지</b></a>
          </li>
          <li>
            <a class="nav-link" onclick="document.getElementById('logout-form').submit();"><b>로그아웃</b></a>
            <form id="logout-form" th:action="@{/logout}" method="post">
            </form>
          </li>
        </ul>
      </nav>
</header>
<br /><br /><br /><br /><br />
</html>