<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>jiwoong</title>
    <!-- css 가져오기 -->
    <!-- <link rel="stylesheet" type="text/css" href="../semantic.min.css"> 시멘틱 유아이는 안쓸란다-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- include summernote css/js -->
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
    <style type="text/css">
        body {
            background-color: #DADADA;
        }
/* 
        body>.grid {
            height: 100%;
            
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 1000px;
        } */
    </style>
</head>

<body>
	<header th:replace="/common/navbar.html"::"headerFragment"></header>
    <!-- <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                게시글 작성하기
            </h2>
            <form th:action="@{writeAction}" method="post" class="ui large form">
            <input type="hidden" name="bname" th:value="${param.bname}"/>
                <div class="ui stacked segment">
                    <div class="field">
                        <input type="text" name="name" id="b_title" placeholder="게시글 제목" autocomplete="off" autofocus="autofocus">
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <textarea name="content" id="summernote" ></textarea>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                        	<input type="file"/>
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button" id="write_bbs">게시글 작성하기</button>
                </div>

                <div class="ui error message"></div>

            </form>

            <a href="javascript:history.go(-1);"><button class="ui fluid large teal submit button">뒤로가기</button></a>
        </div>
    </div> -->
   
</body>
<script>
$(function(){
	$('#summernote').summernote({
		height: 300,
		width: 1000,
		minHeight: null,
		maxHeight: null,
		lang : 'ko-KR',
 		callbacks: {
			onImageUpload: function(files, editor, $editable) {
               	sendFile(files[0], editor, $editable);
	        }
	    }
	});

	function sendFile(file, editor, welEditable){
		data = new FormData();
		data.append("file", file);
		$.ajax({
			data : data,
			type : "POST",
			url : "./summernote_imageUpload.jsp",
			dataType : "json",
			cache : false,
			contentType : false,
			processData : false,
			enctype: 'multipart/form-data',
			success : function(data){
				//alert(data.url);
				$("input[type='hidden'][name='thumbnail']").val(data.url);
				$('#summernote').summernote('insertImage', data.url);
			},
			error : function(data){
				alert('실패');
				console.log(data);
			}
		});
	}
	
});
</script>
</html>
