<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <!-- css 가져오기 -->
    <link rel="stylesheet" type="text/css" href="../semantic.min.css">

    <style type="text/css">
        body {
            background-color: #DADADA;
        }
        body>.grid {
            height: 100%;
        }
        .image {
            margin-top: -100px;
        }
        .column {
            max-width: 450px;
        }

    </style>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
 				로그인 페이지
            </h2>
            <form name="f" th:action="@{../loginProcess}" class="ui large form" method="post">
            <input type="hi-dden" name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="ui stacked segment">
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="username" name="username" placeholder="아이디">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password" id="password" name="password" placeholder="비밀번호">
                        </div>
                    </div>
                    <button type="submit" class="ui fluid large teal submit button" id="login_btn">로그인</button>
                    <div th:if="${param.error}" style="color: red;" ><br/>로그인정보가 잘못되었네요<br/>
                    	<p th:text="${param.SPRING_SECURITY_LAST_EXCEPTION}"></p>
                    </div>
                </div>

                <div class="ui error message"></div>

            </form>

            <div  class="ui message">
                로그인 할 계정이 없다면 <a href="/coco/register">여기</a>를 눌러주세요.
            </div>
        </div>
    </div>
    

</body>

</html>
