<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>jiwoong</title>
    <!-- css 가져오기 -->
    <link rel="stylesheet" type="text/css" href="../semantic.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script><!-- 우편번호API -->
    <script type="text/javascript">
    $(function(){
        $('#pass').keyup(function(){
            $('#passCheck').val('');
            $('#passMsg').html('');
   			$('#passCheckVal').val('false');
        });
        $('#passCheck').keyup(function(){
            if($('#pass').val() == $('#passCheck').val()){
                $('#passMsg').html('');
    			$('#passCheckVal').val('true');
            } else {
                $('#passMsg').html('패스워드가 일치하지 않습니다.');
    			$('#passCheckVal').val('false');
            }
        });
        $('#selectEmail').change(function(){
            
            var text = $('#selectEmail option:selected').text();

            var value = $('#selectEmail option:selected').val();

            if(value == ''){
                $('#email2').val('');
                $('#email2').attr("readonly", true); 
            }
             else if(value == '1'){
                $('#email2').val('');
                $('#email2').attr("readonly", false); 
            } else {
                $('#email2').attr("readonly", true); 
                $('#email2').val(value);
            }
            
        });
    });
  	//우편번호 API
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = ''; 
                var extraAddr = ''; 

                if (data.userSelectedType === 'R') { 
                    addr = data.roadAddress;
                } else { 
                    addr = data.jibunAddress;
                }
                document.getElementById('address1').value = data.zonecode + addr;
                document.getElementById("address2").focus();
            }
        }).open();
    }
    </script>

    <style type="text/css">
        body {
            background-color: #DADADA;
        }

        body>.grid {
            height: 100%;
        }

        .image {
            margin-top: -100px;
        }

        .column {
            max-width: 700px;
        }
        p {
            width: 100px;
            font-weight: bold;
            text-align: center;
            font-size: 1.1em;
        }
        span {
        	float : left;
        	color : crimson;
        	font-weight : bold;
        }

    </style>
</head>

<body>
    <div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui teal image header">
                회원가입
            </h2>
            <form th:action="@{signup}" class="ui large form" method="post" modelAttribute="memberRequestDTO">
                <div class="ui stacked segment">
                	<div>※실습용 사이트입니다. 암호는 시큐리티를 통해 암호화 되어서 저장되긴 하나 안전을위해 개인정보는 입력하지 말아주세요</div>
                    <table width="100%">
                        <colgroup>
                        <col width="20%"/>
                        <col width="*"/>
                        </colgroup>
                        <tr>
                            <td><p>이름</p></td>
                            <td>
                                <input type="text" id="name" name="name" placeholder="이름" style="margin-right:50px; width: 70%; float: left;" th:value="${memberRequestDTO?.name}">
                                <span th:text="${valid_name}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>아이디</p></td>
                            <td>
                                <input type="text" id="id" name="id" placeholder="아이디" style="margin-right:50px; width: 70%; float: left;" th:value="${memberRequestDTO?.id}">
                                <span th:text="${valid_id}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <td><p>비밀번호</p></td>
                            <td>
                                <input type="password" id="pass" name="pass" placeholder="비밀번호" style="width: 70%; float: left;">
                                <span th:text="${valid_pass}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>비밀번호 확인</p></td>
                            <td>
                                <input type="password" id="passCheck" placeholder="비밀번호 확인"  style="width: 70%; float: left;">
                                <input type="hidden" value="false" name="passCheckVal" id="passCheckVal"/>
                                <span id="passMsg"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>생년월일/성별</p></td>
                            <td>
                                <div class="inline fields">
                                    <select id="birth1" name="birth1" style="width: 20%;">
                                   		<option th:each="num : ${#numbers.sequence(1920, 2020)}" th:value="${num}" th:text="${num}"></option>
                                    </select>
                                    년
                                    <select id="birth3" name="birth2" style="width: 20%;">
                                        <option th:each="num : ${#numbers.sequence(1, 12)}" th:value="${numStat.count}" th:text="${numStat.count}"></option>
                                    </select>
                                    월
                                    <select id="birth3" name="birth3" style="width: 20%;">
                                        <option th:each="num : ${#numbers.sequence(1, 31)}" th:value="${numStat.count}" th:text="${numStat.count}"></option>
                                    </select>
                                    일
                                    &nbsp;&nbsp;&nbsp;
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="sex" value="M" checked="checked">
                                            <label>남</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" name="sex" value="W">
                                            <label>여</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><p>연락처</p></td>
                            <td>
                                <input type="text" id="phone" name="phone" placeholder='휴대폰번호 "-"없이 기입' style="width: 70%; float: left;" th:value="${memberRequestDTO?.phone}">
                                <span th:text="${valid_phone}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>이메일</p></td>
                            <td>
                                <div class="inline fields">
                                    <input type="text" id="email1" name="email1" th:value="${memberRequestDTO?.email1}">@<input type="text" id="email2" name="email2" th:value="${memberRequestDTO?.email2}" readonly>
                                    <select id="selectEmail">
                                        <option value=''>선택하세요</option>
                                        <option value="1">직접입력</option>
                                        <option value="gmail.com">gmail.com</option>
                                        <option value="naver.com">naver.com</option>
                                    </select>
                                </div>
                                <span th:text="${valid_email1}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>주소</p></td>
                            <td>
                                <input type="text" id="address1" name="address1" readonly style="width: 79%;" th:value="${memberRequestDTO?.address1}"><button type="button" onclick="sample6_execDaumPostcode()" class="ui button">주소 검색</button>
                                <span th:text="${valid_address1}" ></span>
                            </td>
                        </tr>
                        <tr>
                            <td><p>상세주소</p></td>
                            <td>
                                <input type="text" id="address2" name="address2" placeholder="상세주소"  th:value="${memberRequestDTO?.address2}">
                                <span th:text="${valid_address2}" ></span>
                            </td>
                        </tr>
                    </table>
                    <!-- <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_name" placeholder="이름">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_id" placeholder="아이디">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password" id="u_pass" placeholder="비밀번호">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="password" id="u_passCheck" placeholder="비밀번호 확인">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="생년월일/성별">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="주소">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="상세주소">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="연락처">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="이메일">
                        </div>
                    </div><div class="field">
                        <div class="ui left icon input">
                            <input type="text" id="u_" placeholder="SMS수신동의">
                        </div>
                    </div> -->
                    <button type="submit" class="ui fluid large teal submit button" id="register_btn">회원가입</button>
                </div>
                <div class="ui error message"></div>

            </form>
            
            <div class="ui message">
                로그인 할 계정이 있다면 <a href="/member/login">여기</a>를 눌러주세요.
            </div>
        </div>
    </div>
    
</body>

</html>
