<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiwoong.mapper.AdminMapper">
	
	<!-- 전체 회원 조회  -->
	<select id="allMember" resultType="com.jiwoong.dto.MemberDTO">
		SELECT * FROM springbootshop_db.member
	</select>
	
	<select id="allNavbarTabs" resultType="com.jiwoong.dto.NavbarTabsDTO">
		SELECT * FROM navbar_Tabs GROUP BY tab_order ORDER BY tab_order
	</select> 
	
	<select id="nameNavbarTabs" resultType="com.jiwoong.dto.NavbarTabsDTO">
		SELECT * FROM navbar_Tabs WHERE tab_name=#{name} ORDER BY tab_order
	</select> 

	<select id="countNavbarTabs" resultType="int">
		SELECT COUNT(DISTINCT tab_order) FROM navbar_Tabs;
	</select> 
	
	<insert id="saveSingleNavbarTabs">
		INSERT INTO navbar_Tabs VALUES (#{param1}, #{param2}, #{param3}, 'show', null)
	</insert>
	
</mapper>
